POSTGRES_USER=mozilor
POSTGRES_PASSWORD=mozilor_secret
POSTGRES_DB=mozilor_db
POSTGRES_HOST=db
POSTGRES_PORT=5432

SECRET_KEY=change-me-to-a-random-64-char-hex-string
ACCESS_TOKEN_EXPIRE_MINUTES=30
REFRESH_TOKEN_EXPIRE_DAYS=7
